ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  z-index: 1;
}

html, body {
  margin: 0;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 75vw;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 0;
}


/* ============================================================================= 

                                    NavBar

============================================================================= */

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 9vh;
  min-height: 65px;
  line-height: max(65px, 9vh);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#navbar {
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 75vw;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .title {
    font-weight: 800;
    font-size: max(16px, 2.2vh);
    cursor: pointer;
  }

  .mode {
    margin-left: auto;

    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: max(13px, 1.8vh);
  }
}

/* ============================================================================= 

                                    SearchFilter

============================================================================= */

.filter {
  display: flex;

  .search-box {
    position: relative; 
    ion-icon {
      position: absolute;
      font-size: 15px;
      color: gray;
      top: 13px;
      left: 15px;
    }
  }

  .search {
    position: absolute;
    padding: 11px 40px;
    width: 25vw;
    
    &:focus {
      outline: none;
    }
  }  
  
}

/* ============================================================================= 

                                    RegionSelect

============================================================================= */


.region {
  margin-left: auto;
  font-weight: 600;
  width: 165px;
  
  //prevent drag
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  .slct {
    background-color: white;
    padding: 11px 19px; 
    cursor: pointer;
    display: flex;
    align-items: center;

    ion-icon {
      margin-left: auto;
    }
  }

  ul {
    background-color: white;
    position: absolute;
    width: 165px;
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    border-radius: 5px;
  }
  
  li {
    padding: 8px 20px;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
}

/* ============================================================================= 

                                    HomeView

============================================================================= */


.list {
  margin-top: 40px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}

@media(max-width: 1498px) {
  .list {
    grid-template-columns: repeat(3, auto);
  }
}

@media(max-width: 1110px) {
  .list {
    grid-template-columns: repeat(2, auto);
  }
}

//mobile
@media(max-width: 716px) {
  .list {
    grid-template-columns: repeat(1, auto);
  }
}

/* ============================================================================= 

                                    CountryCard

============================================================================= */

#card {
  width: 15.27vw;
  min-width: 220px;
  height: 22.91vw;
  min-height: 310px;

  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  cursor: pointer;

  img {
    object-fit: cover;
    //width: max(220px, 15.27vw);
    width: 100%;
    height: 45.5%;
    min-height: 150px;
    border-radius: 5px 5px 0px 0px;
  }

  
  .info {
    //padding: max(1vw, 30px);
    display: flex;
    align-items: center;
    min-height: 150px;
    height: 50%;
    padding: 0px 2.08vw;
    
    .title{
      font-weight: 800;
      font-size: max(15px, 1.04vw);
    }

    .description {
      margin-top: 6.66%;
      font-size: max(13px, 0.9vw);
      line-height: max(18px, 1.5vw);

      span {
        font-weight: 600; 
      }
    }
  }
}