html, body {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}