ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 67vw;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* ============================================================================= 

                                    NavBar

============================================================================= */
nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 65px;
  line-height: 65px;
  -webkit-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#navbar {
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#navbar .container {
  width: 67vw;
}
#navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#navbar .title {
  font-weight: 800;
  font-size: 16px;
}
#navbar .mode {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

/* ============================================================================= 

                                    HomeView

============================================================================= */
.home .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .filter .search-box {
  position: relative;
}
.home .filter .search-box ion-icon {
  position: absolute;
  font-size: 15px;
  color: gray;
  top: 13px;
  left: 15px;
}
.home .filter .search {
  position: absolute;
  padding: 11px 40px;
  width: 25vw;
}
.home .filter .search:focus {
  outline: none;
}
.home .filter .region {
  margin-left: auto;
  font-weight: 600;
  width: 13vw;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.home .filter .region .slct {
  background-color: white;
  padding: 11px 19px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .filter .region .slct ion-icon {
  margin-left: auto;
}
.home .filter .region ul {
  background-color: white;
  position: absolute;
  width: 13vw;
  margin-top: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 5px;
}
.home .filter .region li {
  padding: 8px 20px;
  cursor: pointer;
  font-size: 13px;
}
.home .filter .region li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ============================================================================= 

                                    CountryCard

============================================================================= */
#card {
  width: 200px;
  height: 280px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  cursor: pointer;
}
#card img {
  width: 200px;
  height: 130px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
#card .title {
  font-weight: 800;
  font-size: 15px;
}
#card .info {
  padding: 20px;
}
#card .info .description {
  margin-top: 10px;
}
#card .info .description span {
  font-weight: 600;
}